/* Custom styles for Bootstrap --> */
.header__title { 
    color: Crimson ;
    font: 24px;
}

.title__text{ 
    text-align: left;
    padding-top: 20px;
    color:blue;
} 

.book__name{ 
    color: #BDB76B ;
}

.content{ 
    padding-top: 20px;
}

